@import './mixins.scss';
@import './reset.scss';


/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	color: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
	font-family: alt;
	color: white;
	// font-weight: 900;
	text-transform: uppercase;
}

canvas{
	display: block;
	top:0;
	left:0;
}

#banner{
	/* bigbox */
	width: 300px;
	height: 250px;
	overflow: hidden;
	position: relative;
	background-color: white;
	-webkit-text-size-adjust: 100%;
	opacity: 1;
}

canvas, .text, .frame, .outline, img{
	position: absolute;
}

img{
	vertical-align:top;
	 -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.outline{
	z-index: 99;
	width: inherit;
	height: inherit;
	border: 1px solid black;
	pointer-events: none;
	position: absolute;
}

.frame{
	width: inherit;
	height: inherit;
	opacity: 0;
	top:0;
	left:0;
}

p{
	display: inline-block;
	// font-weight: normal !important;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

sup{
	font-size: 50%;
	vertical-align: top;
	position: relative;
	left:-3px;
}



.shadow{
	-webkit-filter: drop-shadow(5px 5px 9px black);
	filter: drop-shadow(5px 5px 9px black);
}


.retina{
	@include pos-scale(0, 0, .5);
	transform-origin: 0 0;
}

.frame1{
	opacity: 1;
}


